@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}
:root {
    --lightm-background: #232730;
    --lightm-background-lighter: #3A3E47;
    --lightm-background-highlight: #434c61;
    --lightm-lightblue: #04ACB5;
    --white: #EDEDED; 
}

body{
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    display: grid;
   
    background-color: var(--lightm-background);
}

body#homepage {
    grid-template-areas: 
    'header header'
    'main main'
    'footer footer';
    gap: 5%;
}


body > * {
    padding: 1%;
}
header{
    grid-area: header;
   
    display: grid;
    grid-template-areas: 'top-card top-card nav';

    background-color: var(--lightm-background);
   
}
#top-card {
    grid-area: top-card;
    color: var(--lightm-lightblue);
}

nav {
    grid-area: nav;
    display: flex;
    align-items: top;
    justify-content: space-around;
}

nav a{
    
    text-align: center;
    max-height: 2em;
    padding: 1%;
    margin: 2%;
    padding-bottom: 0;
    text-decoration: none;
    color: var(--white);
    border-radius: 10%;
}

nav a:hover {
    color: var(--lightm-lightblue);
}

nav a:active{
    color: var(--lightm-lightblue);
    background-color: var(--white);
    
}

article{
    grid-area: main;
    display: grid;
    grid-template-areas: 'main image';
    align-items: center;
    max-width: 100%;
    animation: anim 1s forwards;

}

#intro{
    grid-area: main;
    color: var(--white);
    padding: 8%;

}

#intro h1{
    font-family: "Roboto Serif", serif;
    font-size: 3em;
    color: var(--lightm-lightblue);
    margin-bottom: 3%;
}

section > p{
    padding: 10%;
    background-color: var(--lightm-background-highlight);
    border-radius: 2%;

}

#my-pic{
    grid-area: image;
    border-radius: 2%;
    border: 2px var(--white) solid;
    min-width: 40%;
    max-width: 60%;
    margin-left: 25%;
}



/* About page */
body#aboutpage{
    grid-template-areas: 
    'header header'
    'main main'
    'footer footer';
}
section#aboutme {
    margin: 5% 10% 5% 10%;
    padding: 4% 5% 4% 5%;
    background-color: var(--lightm-background-lighter);
    grid-area: main;
    display: grid;
    grid-template-areas: 
    'about about'
    'about about'
    'about about'
    'hobby hobby'
    'hobby hobby'
    'goals goals' 
    'goals goals' ;
}

.aboutDetail{
    padding: 1%;
    grid-area: about;
    display: grid;
    grid-template-areas: 
    'aboutTitle'
    'aboutDetail'
    'aboutDetail';    
    margin-bottom: 4%;
    border-radius: 10px;
    animation: anim 1s forwards;
}

.aboutDetail h1{
    grid-area: aboutTitle;
    font-size: 2rem;
    color: var(--lightm-lightblue);
}

.aboutDetail p{
    grid-area: aboutDetail;
}

.hobby {
    padding: 1%;
    grid-area: hobby;
    display: grid;
    grid-template-areas: 
    'hobbyTitle'
    'hobbyDetail';
    margin-bottom: 4%;
    border-radius: 10px;    
    animation: anim 2s forwards;

}

.hobby h3 {
    grid-area: hobbyTitle;
    
}

.hobby dl {
    grid-area: hobbyDetail;
    list-style-type: none;
}
.hobby dt + dd{
    font-size: 0.9rem;
    padding-left: 20px;
}
.goals {
    padding: 1%;
    grid-area: goals;
    display: grid;
    grid-template-areas: 
    'goalsTitle'
    'goalsDetail';
    border-radius: 10px;
    animation: anim 4s forwards;

}
.goals h3{
    grid-area: goalsTitle;
}

.goals p{
    grid-area: goalsDetail;
}

/* portfolio page */

.portfolioPage {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header'
    'pain pmain'
    'footer footer';
}

.portfolioMain {
    grid-area: pmain;
    background-color: var(--lightm-background-highlight);
    margin: 5%;
    padding: 2% 5%;
   
    display: grid;
    grid-template-areas: 
    'edu edu edu'
    'proj proj proj'
    'skill skill skill';

}

.education {
    display: grid;
    gap: 10%;
    grid-area: edu;
    grid-template-areas: 
    'eduTitle eduTitle'
    'eduTable eduTable';
    animation: anim 1s forwards;
}
.education h2 {
    grid-area: eduTitle;
    
}
.education table {
    
    grid-area: eduTable;
    align-self: center;
    justify-self: center;
    width: 40%;
    background-color: var(--white);
    border-collapse: collapse;
    border: 1px solid;
}
.education td + td {
   border-left: 1px solid;
}
.education th {
    background-color: var(--lightm-lightblue);
    border: 1px solid
}
.education td, .education th {
    padding: 1%;
}
.projects {
    grid-area: proj;
    display: grid;
    grid-template-areas: 
    'projtitle projtitle projtitle'
    'projCard projCard projCard'
    'projCard projCard projCard';
    margin: 2% 0%;
    animation: anim 2s forwards;

}

.projects h2 {
    grid-area: projtitle;

}
.projCards {
    grid-area: projCard;
    display: grid;
    grid-template-areas: 'p1 p2 p3';
    justify-content: space-evenly;
}
.projCards article{
    display: grid;
    grid-template-areas: 
    'img'
    'title'
    'desc'
    'link';
    background-color: var(--white);
   
    height: 100%;
    margin: 1%;
    padding: 1%;
    border-radius: 1%;

}
.projCards * {
    margin: 1%;
}
.projCards article img {
    grid-area: img;
}
.projCards article h3 {
    grid-area: title;
}
.projCards article p {
    grid-area: desc;
}
.projCards article img {
    justify-self: center;
    grid-area: img;
    width: 80%;
}
.projCards .plink {
    grid-area: link;
}
.p1 {
    grid-area: p1;
}
.p2 {
    grid-area: p2;
}
.p3 {
    grid-area: p3;
}

.skills {
    grid-area: skill;
    display: grid;
    grid-template-areas: 
    'title1 title1'
    'cards1 cards1';
}

.skills h3{
    grid-area: title1;
    margin-bottom: 2%;
}

.skills ul{
    list-style: none;
    grid: cards1;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

@keyframes anim {
  0%{ 
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.skills li{
    animation: anim 4s forwards;
    display: grid;   
    padding: 2%;
    background-color: var(--white); 
    border-radius: 2%;
    max-width: 100%;
}
.skills li img{
    width: 60%;
    justify-self: center;
}
.skills li p{
    font-size: 1.2em;
    text-align: center;
}

.contactpage {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header'
    'cmain caside'
    'footer footer';
    gap: 10px;
}

.contactMain {
    padding: 0px;
    margin-left: 2%;
    grid-area: cmain;
    display: grid;
    grid-template-areas:
    'cform' ;
}
.cform {
    grid-area: cform;
    width: 100%;
    height: 100%;
    
    justify-self: center;
    background-color: var(--lightm-background-lighter);
    color: var(--white);
    display: grid;
    grid-template-areas: 
    'label1 label1'
    'input input'
    'label2 label2'
    'em em'
    'button button';
    gap: 15px;

    padding: 2%;
   
    border-radius: 4px;
}
#l1 {
    grid-area: label1;
}

#ta {
    margin-left: 2%;
    grid-area: input;
    width: 50%;
    min-width: 300px;
}

#l2 {
    grid-area: label2;
}
#email {
    margin-left: 2%;
    grid-area: em;
    width: 250px;
    height: 30px;
}
button {
    justify-self: center;
    grid-area: button;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 4%;
    background-color: var(--lightm-lightblue);
    color: var(--white);
}

.socials {
    justify-self: right;
    grid-area: caside;
    display: grid;
    grid-template-rows: auto;
    background-color: var(--white);
    
    width: 50%;
    height: 80%;
    margin: 2%;min-width: 300px;
    padding: 3%;
}
.socials h3{
    color: var(--lightm-lightblue);
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 30px;
}
.socials div {
    margin-top: 5%;
}
.socials div div {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

footer{
    display: flex;
    align-self: end;
    flex-direction: column;
    height: 10vh;
    max-height: 12vh;
    grid-area: footer;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: smaller;

    background-color: var(--lightm-background-lighter);
    color: var(--white);
}

.fsocials {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.reactive{
    transition: 300ms;
}

.reactive-img:hover {
    scale: 105%;

}

#my-pic.reactive-img:hover {
    border: 2px var(--lightm-lightblue) solid;
}

.reactive-textbox:hover {
    background-color: var(--white);
    color: var(--lightm-background);
    font-weight: bold;
}
.reactive-textbox:hover h1, .reactive-textbox:hover h3{
    text-decoration: underline;
}

.reactive-list:hover {
    background-color: var(--white);
    color: var(--lightm-background);
}
.reactive-list:hover dt, .reactive-list:hover h3{

    font-weight: bold;
    text-decoration: underline;
}


@media screen and (max-width: 768px){
    header{
        grid-template-areas: 'top-card top-card top-card'
        'nav nav nav';
        gap: 10%;        
    }

    nav a{
        border-bottom: var(--white) solid 2px; 
        border-radius: 2%;
    }

    #top-card{
        justify-self: center;
        align-self: center;
    }


    article{
      
        grid-template-areas: 'image image'
        'main main';
        
    }
    #intro h1{
        font-size: 2em;
    }
    #my-pic{
        margin-left: 20%;
    }

    
    .education table{
        width: 70%;
        margin-bottom: 10%;
    }
    
    .projCards{
        grid-template-areas: 'p1'
        'p2'
        'p3';
        gap: 10px;
        margin: 10%;
    }
    .socials{
        display: none;
    }
    .contactpage {
        display: grid;
        grid-template-areas: 
        'header header'
        'cmain cmain'
        'footer footer';
        padding: 2%;
    }
   .fsocials {
    width: 50%;
   }
    .reactive-textbox:active {
        background-color: var(--white);
        color: var(--lightm-background);
        font-weight: bold;
    }

    .reactive-img:active {
        scale: 110%;
    }
}
