@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 768px){
    body{


        height: 100vh;
        font-family: "Montserrat",sans-serif;
       
        display: grid;
        grid-template-areas: 
        'header header'
        'main main'
        'footer footer';
        gap: 20%;

        background-color: #232730;
    }
    body > * {
        padding: 1%;
    }
    header{
        grid-area: header;

        display: grid;
        grid-template-areas: 'top-card top-card nav';

        background-color: #232730;
    }
    #top-card {
        grid-area: top-card;
        color: #04ACB5;
    }
    nav {
        grid-area: nav;
        display: flex;
        align-items: top;
        justify-content: space-around;
    }
    nav a{
        text-align: center;
        height: 50%;
        text-decoration: none;
        color: white;
    }
    nav a:active{
        color: #04ACB5;
        background-color: white;
    }
    article{
        grid-area: main;
        display: grid;
        grid-template-areas: 'main image';
    }
    #intro{
        grid-area: main;
        color: #EDEDED;
    }

    #intro h1{
        color: #04ACB5;
    }
    
    #my-pic{
        grid-area: image;
        border-radius: 2%;
        border: 2px solid;
        max-width: 100%;
    }
    footer{
        display: flex;
        grid-area: footer;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: smaller;

        background-color: #3A3E47;
        color: #EDEDED;
    }
    
}